.App {
  font-size: 28pt;
  width: 25%;
  text-align: center;
}
.App-b{
  font-size: 28pt;
  width: 25%;
  text-align: start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}
.App-body{
  background-color: greenyellow;
  width:auto;
  height: auto;
}

.App-header {
  display: flex;
  flex-direction:row;
  height: auto;
  flex:auto;
  height: 60pt;
}
.App-row-e{
  display: flex;
  flex-direction: row;
  row-gap: 50px;
  align-content: space-between;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}
.App-row-e-hiden{
  opacity: 0;
}
.App-row-e::-webkit-scrollbar-track{
  border: 1px solid #000;
padding: 2px 0;
background-color: #404040;
}
.App-row-e::-webkit-scrollbar {
  width: 10px;
}
.App-row-e::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #737272;
  border: 1px solid #000;
}
.App-row-pe{
  display: flex;
  flex-direction: row;
  row-gap: 50px;
  align-content: space-between;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}
.App-row-pe::-webkit-scrollbar-track{
  border: 1px solid #000;
padding: 2px 0;
background-color: #404040;
}
.App-row-pe::-webkit-scrollbar {
  width: 10px;
}
.App-row-pe::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #737272;
  border: 1px solid #000;
}
.App-row-se{
  display: flex;
  flex-direction: row;
  row-gap: 50px;
  align-content: space-between;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}
.App-row-se::-webkit-scrollbar-track{
  border: 1px solid #000;
padding: 2px 0;
background-color: #404040;
}
.App-row-se::-webkit-scrollbar {
  width: 10px;
}
.App-row-se::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #737272;
  border: 1px solid #000;
}
.App-column{
  display: grid;
  flex-direction: column;
  width: 33.3%;
  height: 10%;
  margin-left: .1%;
  margin-top: 1%;
}
.App-button{
  border-radius: 45px;
  background-color: whitesmoke;
  text-align: center;
  font-size: 18pt;
  margin: auto;
  margin-left: 1%;
  margin-top: 1%;
  width: 20%;
  height: auto;
}
.App-txt{
  font-size: 24pt;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
