.bodyAgr{
    background-color: white;
}
.App-b{
    font-size: 28pt;
    color: white;
    width: 25%;
    display: block;
    align-self: center;
    text-align: start;
    padding-left: 10px;
    padding-bottom: 10px;
  }
.App{
    font-size: 28pt;
    width: 25%;
    font-family: 'Montserrat';
    text-align: center;
    color: white;
    background-color: inherit;
    border-color: inherit;
    border-width: 0pt;
    height: 100%;
}
.cuerpo{
    display: grid;
    height: auto;
    width: 100%;
    justify-items:flex-start;
}
.campos{
    margin-left: 15pt;
    color: #952F60;
    margin-top: 15pt;
    width: 40%;
    text-align: center;
    height: 30px;
    font-family: 'Montserrat';
    font-size: 18pt;
}
.botonA{
    margin-left: 15pt;
    margin-top: 15pt;
    width: 20%;
    height: 30px;
    font-size: 15pt;
}
::placeholder{
    text-align: center;
    color:#952F60 ;
    font-family: 'Montserrat';
    opacity: .6;
}